# Virtual environments
venv/
.venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.so

# PyCharm
.idea/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# macOS
.DS_Store

# Logs
*.log